<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">
	<div class="form">
		<form>
			<h2>Courses For Free</h2>
			<h3>It is high time for learning</h3>
			<div class="form-group">
				<input type="text" placeholder="Your Name">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Your Phone Number">
			</div>
			<div class="form-group">
				<input type="email" placeholder="Your Email Address">
			</div>
			<div class="form-group">
				<button type="button">SUBMIT</button>
			</div>
		</form>
	</div>
	<div class="regis">
		<div class="text">
			<h1>Register Now</h1>
			<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It's exciting to think about setting up your own viewing station.</p>
		</div>

		<div class="regis-grid">
			<div class="days">
				<p><span class="number">150</span> Days</p>
			</div>
			<div class="hours">
				<p><span class="number">23</span> Hours</p>
			</div>
			<div class="mins">
				<p><span class="number">47</span> Mins</p>
			</div>
			<div class="secs">
				<p><span class="number">59</span> Secs</p>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>