.main-background {
    background: #00f2ff;
}
.main-color {
    color: #00f2ff;
}
.secondary-background {
    background: #3b5998;
}
.secondary-color {
    color: #3b5998;
}
.white-color {
    color: #fff;
}
.container {
    width: 80%;
    margin: auto;
}