.main-background {
    background: #00f2ff;
}
.main-color {
    color: #00f2ff;
}
.secondary-background {
    background: #3b5998;
}
.secondary-color {
    color: #3b5998;
}
.white-color {
    color: #fff;
}
.container {
    width: 80%;
    margin: auto;
}

.expert-trainers-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}

.expert-trainers-section {
	text-align: center;
	line-height: 5px;
	margin-bottom: 8%;
}

.expert-trainers-section-title{
	font-size: 36pt;
	color: #3b5998;
}

.expert-trainers-section-desc {
	font-size: 14pt;
	color: #0f0f0f;
}

.expert-trainers-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 250px;
	margin: 10px 10px;
}

.expert-trainers-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.expert-trainers-card-content {
	text-align: center;
	padding: 2px 16px;
}

.expert-trainers-card-content .expert-trainers-card-content-name {
	font-size: 16pt;
	color: #3b5998;
}

.expert-trainers-card-content .expert-trainers-card-content-job {
	margin-top: -20px;
}

.expert-trainers-card-content .expert-trainers-card-content-desc {
	margin-top: 20px;
}
