<section class="container" id="expert-trainers">
	<div class="expert-trainers-section">
		<h2 class="expert-trainers-section-title">Expert Trainers</h2>
		<p class="expert-trainers-section-desc">The best trainer in the world are ready to train you!</p>
	</div>
	<div class="expert-trainers-row">
		<div class="expert-trainers-card">
			<img src="../../../public/img/img_avatar1.png" alt="Avatar" style="width:100%">
			<div class="expert-trainers-card-content">
				<h4 class="expert-trainers-card-content-name"><b>John Doe</b></h4>
				<p class="expert-trainers-card-content-job">Architect & Engineer</p>
				<p class="expert-trainers-card-content-desc">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus id illo ab in.
				</p>
			</div>
		</div>
		<div class="expert-trainers-card">
			<img src="../../../public/img/img_avatar1.png" alt="Avatar" style="width:100%">
			<div class="expert-trainers-card-content">
				<h4 class="expert-trainers-card-content-name"><b>John Doe</b></h4>
				<p class="expert-trainers-card-content-job">Architect & Engineer</p>
				<p class="expert-trainers-card-content-desc">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus id illo ab in.
				</p>
			</div>
		</div>
		<div class="expert-trainers-card">
			<img src="../../../public/img/img_avatar1.png" alt="Avatar" style="width:100%">
			<div class="expert-trainers-card-content">
				<h4 class="expert-trainers-card-content-name"><b>John Doe</b></h4>
				<p class="expert-trainers-card-content-job">Architect & Engineer</p>
				<p class="expert-trainers-card-content-desc">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus id illo ab in.
				</p>
			</div>
		</div>
		<div class="expert-trainers-card">
			<img src="../../../public/img/img_avatar1.png" alt="Avatar" style="width:100%">
			<div class="expert-trainers-card-content">
				<h4 class="expert-trainers-card-content-name"><b>John Doe</b></h4>
				<p class="expert-trainers-card-content-job">Architect & Engineer</p>
				<p class="expert-trainers-card-content-desc">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus id illo ab in.
				</p>
			</div>
		</div>
	</div>
</section>
