<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">
		<img src="img/pic.jpg" alt="image">

		<div class="content">
			<h1>Welcome to our Institute</h1>
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsam obcaecati ex tempora laudantium labore unde officiis iusto earum dicta, provident vitae dignissimos ipsa similique sint dolorem cumque modi nesciunt.</h4>
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eaque officia debitis tempore minus, ratione consequatur, deleniti, laboriosam voluptatibus, ipsa qui labore excepturi quo placeat a nostrum aliquid voluptas voluptatem.</h4>
			<button type="button">LEARN MORE <i class="fas fa-arrow-right"></i></button>
		</div>
	</div>
	
</body>
</html>