<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html{
        padding: 0;
        font-family: font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .awesome-feature-container{
    }
    .awesome-feature-container-top{
        text-align: center;
        margin: 80px auto;
    }
    .awesome-feature-container-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .awesome-feature-bottom-content{
        background-color: #fafafa;
        max-width: 75%;
        margin: auto;
        padding: 30px;
    }
    .awesome-feature-bottom-content h3,h4{
        margin: 5px 0px 5px 0px;
    }
    .awesome-feature-bottom-content i{
        margin: 0px 0px 20px 0px;
    }
    .text-1{
        color: rgb(19, 54, 97);
    }
    .text-2{
        color: rgb(135, 151, 177);
    }
    .awesome-feature-bottom-content:hover{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease-in-out;
    }
</style>
<div class="awesome-feature-container">
    <div class="awesome-feature-container-top">
        <h1 class="text-1" style="font-weight: bold;">Awesome Feature</h1>
        <h4 class="text-2" style="font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ratione.</h4>
    </div>
    <div class="awesome-feature-container-bottom">
        <div class="awesome-feature-bottom-content">
            <i class="fa fa-graduation-cap text-1" style="font-size: 40px;"></i>
            <h3 class="text-1">Lorem, ipsum.</h3>
            <h4 class="text-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
        </div>
        <div class="awesome-feature-bottom-content">
            <i class="fa fa-book text-1" style="font-size: 40px;"></i>
            <h3 class="text-1">Lorem, ipsum.</h3>
            <h4 class="text-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
        </div>
        <div class="awesome-feature-bottom-content">
            <i class="fa fa-globe text-1" style="font-size: 40px;"></i>
            <h3 class="text-1">Lorem, ipsum.</h3>
            <h4 class="text-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
        </div>
    </div>
</div>