<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">

		<div class="head">
			<h1>Awesome Feature</h1>
			<h3>Replenish man have thing gathering lights yielding shall you</h3>
		</div>

		<div class="card-grid">
			<div class="sf card">
				<img class="icon" src="https://img.icons8.com/ios-filled/50/000000/graduation-cap.png">
				<h2>Scholarship Facility</h2>
				<p>One make creepeth, man bearing theira firmament won't great heaven</p>
			</div>
			<div class="soc card">
				<img src="https://img.icons8.com/ios-filled/50/000000/open-book.png">
				<h2>Sell Online Course</h2>
				<p>One make creepeth, man bearing theira firmament won't great heaven</p>
			</div>
			<div class="gc card">
				<img src="https://img.icons8.com/ios-filled/50/000000/diploma.png">
				<h2>Global Certification</h2>
				<p>One make creepeth, man bearing theira firmament won't great heaven</p>
			</div>
		</div>

	</div>
</body>
</html>