<style>
    * {
        box-sizing: border-box;
    }
    .container{
        margin: auto;
        width: 80%;
        text-align: center;
    }
    .awesome {
        padding: 90px 0;
        text-align: center;
    }
    .tiles {
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }
    .tile {
        width: 350px;
        height: 220px;
        margin: 0 15px;
        padding: 40px 30px;
        position: relative;
        text-align: left;
        background-color: #f9f9ff;
    }

    .tile-desctiption {
        font-family: Arial;
        font-size: 16px;
        color: gray;
        line-height: 26px;
    }
    h1 {
        font-family: Arial;
        font-size: 36px;
        line-height: normal;
        font-weight: bold;
        color: #3b5998;
    }
    h2 {
        font-family: Arial;
        font-size: 24px;
        line-height: 8px;
        font-weight: bold;
        color: #3b5998;
    }
    h4 {
        font-family: Arial;
        font-size: 14px;
        line-height: normal;
        font-style: italic;
        color: #898989;
    }
    .tile:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .tile:hover .fa-graduation-cap {
        color: gray!important;
    }
    .tile:hover .fa-book-open {
        color: gray!important;
    }
    .tile:hover .fa-globe-asia {
        color: gray!important;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<div class="container">
    <div class="awesome">
        <h1>Awesome Feature</h1>
        <h4>Replenish man have thing gathering lights yielding shall you</h4>
        <div class="tiles">
            <div class="tile">
                <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 40px; color: #3b5998;"></i>
                <div class="tile-text">
                    <h2>Scholarship Facility</h2>
                    <span class="tile-desctiption">One make creepeth, man bearing theira firmament won't great heaven</span>
                </div>
            </div>
            <div class="tile">
                <i class="fas fa-book-open" aria-hidden="true" style="font-size: 40px; color: #3b5998;"></i>
                <div class="tile-text">
                    <h2>Sell Online Course</h2>
                    <span class="tile-desctiption">One make creepeth, man bearing theira firmament won't great heaven</span>
                </div>
            </div>
            <div class="tile">
                <i class="fa fa-globe-asia" aria-hidden="true" style="font-size: 40px; color: #3b5998;"></i>
                <div class="tile-text">
                    <h2>Global Certification</h2>
                    <span class="tile-desctiption">One make creepeth, man bearing theira firmament won't great heaven</span>
                </div>
            </div>
        </div>
    </div>
</div>