<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

	<div class="container">
		<img src="img/pic.jpg" alt="Image">
		<div class="columns is-variable is-5">
			<div class="column is-4 side">
				<p>Food, <span class="yel">Technology,</span> Politics, Lifestyle</p>
				<h4>Mark wiens<span class="icon">
					<i class="far fa-user"></i>
				</span></h4>
				
				<h4>
					12 Dec, 2017<span class="icon"><i class="far fa-calendar"></i></span>
				</h4>
				
				<h4>1.2M Views<span class="icon">
					<i class="fas fa-eye"></i>
				</span></h4>
				
				<h4>06 Comments<span class="icon">
					<i class="far fa-comment-alt"></i>
				</span></h4>

				<span class="icon sos">
					<i class="fab fa-facebook-f"></i>
				</span>
				<span class="icon sos">
					<i class="fab fa-twitter"></i>
				</span>
				<span class="icon sos">
					<i class="fab fa-github"></i>
				</span>
				<span class="icon sos">
					<i class="fab fa-linkedin-in"></i>
				</span>
				
			</div>

			<div class="column content">
				<h1>Astronomy Binoculars A Great Alternative</h1>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos hic voluptatum natus expedita culpa numquam, id. Rerum, aperiam, voluptas numquam praesentium odio laudantium neque veritatis ea error soluta repudiandae.</h3>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quibusdam cum inventore non eum harum id laboriosam iste expedita nesciunt vitae at, voluptatem veniam consectetur nisi aliquid saepe quam accusantium quae tenetur exercitationem laudantium alias reprehenderit. Omnis, quibusdam, officiis. Neque consequatur atque explicabo blanditiis ex dolores ratione fugiat quisquam? Excepturi illum nulla atque hic repellendus dolor, amet iste provident, possimus, iure facere consequuntur aliquid similique corrupti consequatur minima. Voluptate unde a, saepe illum at necessitatibus odit omnis, ipsum ipsam ut nisi enim consequatur quam. Cumque neque, porro, error tempore obcaecati non dolores perferendis labore accusamus iure itaque architecto, magnam. Sint.</h3>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus facilis at fugit adipisci natus numquam voluptatum, iure eum, soluta iste perferendis officiis beatae expedita est labore consequuntur, vero vel.</h3>
			</div>
		</div>
	</div>
	
</body>
</html>