<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html body{
        margin: 0;
        padding: 0;
        background-color: #0f2958;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    img{
        max-width: 100%;
        height: auto;
    }
    h4{
        color: grey;
    }
    h1{
        font-size: 40px;
        margin: 0px;
    }
    .vl{
        border-left: 6px solid #ffdd1b;
        height: 20%;
    }
    .upcoming-events-container{
        padding: 10px;
    }
    .upcoming-events-top-container{
        text-align: center;
        color: whitesmoke;
        margin: 10px 10px 55px 10px;
    }
    .upcoming-events-container h2{
        margin: 10px;
    }
    .upcoming-events-top-container h4{
        font-style: italic;
        margin: 10px;
    }
    .upcoming-events-bottom-container{
        width: 80%;
        margin: auto;
        display: flex;
        padding: 10px;
    }
    .upcoming-events-left-content{
        margin: 10px 10px 10px 10px;
        position: relative;
    }
    .upcoming-events-right-content{
        margin: 10px 10px 10px 10px;
        position: relative;
    }
    .misc-left{
        background-color: rgba(8, 16, 59, 0.40);
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        min-height: 50%;
        padding: 15px;
        color: white;
    }
    .misc-right{
        background-color: rgba(8, 16, 59, 0.40);
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        min-height: 50% ;
        padding: 15px;
        color: white;
    }
    .small-text{
        margin: 0px;
        max-width: 20%;
        text-align: left;
    }
    .text-medium{
        color: #ffdd1b;
        font-size: 30px;
        font-weight: bold;
    }
    .details-button{
        color: #132a55;
        font-weight: bold;
        background-color:#ffdd1b ;
        border: 0px;
        min-width: 40%;
        padding: 10px;
    }
    .details-button:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .upcoming-events-left-content:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    }
    .upcoming-events-right-content:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    }
    .flex-cont{
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .flex-cont-2{
        display: flex;
        flex-direction: column;
    }
</style>
<div class="upcoming-events-container">
    <div class="upcoming-events-top-container">
        <h1>Upcoming Events</h1>
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
    </div>
    <div class="upcoming-events-bottom-container">
        <div class="upcoming-events-left-content">
            <img src="https://media.istockphoto.com/photos/elementary-students-looking-at-teacher-over-shoulder-view-picture-id839314992?k=6&m=839314992&s=612x612&w=0&h=Wa0U0d6eFQOTULHCO9C3I_unrs78l7TCoDM78i4hJSA=">
            <div class="misc-left">
                <div class="flex-cont">
                    <p class="small-text" style="margin: 0px 10px 10px 0px;"><span class="text-medium">15</span><br>JAN</p>
                    <p style="font-weight: 500; font-size: 44px;margin: 0px 10px 0px 0px;">|</p>
                    <div class="flex-cont-2">
                        <span style="margin: 5px 10px 5px 0px;font-size: 14px;"><i class="fa fa-clock-o" aria-hidden="true" style="margin: 0px 10px 0px 0px;"></i>12:00 AM - 13:00 AM</span>
                        <span style="margin: 5px 10px 5px 0px;font-size: 14px;"><i class="fa fa-map" aria-hidden="true" style="margin: 0px 10px 0px 0px;"></i>Class 306 A</span>
                    </div>
                </div>
                <p style="font-weight: bold;color:whitesmoke; font-size: 14px; text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. At cumque optio modi adipisci ea accusantium? Doloremque repellendus.</p>
                <button class="details-button">View Details</button>
            </div>
        </div>
        <div class="upcoming-events-right-content">
            <img src="https://media.istockphoto.com/photos/teenage-students-with-teacher-in-it-class-picture-id875575944?k=6&m=875575944&s=612x612&w=0&h=EHt9RTQTSoueY6lfOKBsxBk3xX9EPfvrP7Ogx6HAwEU=">
            <div class="misc-right">
                <div class="flex-cont">
                    <p class="small-text" style="margin: 0px 10px 10px 0px;"><span class="text-medium">15</span><br>JAN</p>
                    <p style="font-weight: 500; font-size: 44px;margin: 0px 10px 0px 0px;">|</p>
                    <div class="flex-cont-2">
                        <span style="margin: 5px 10px 5px 0px;font-size: 14px;"><i class="fa fa-clock-o" aria-hidden="true" style="margin: 0px 10px 0px 0px;"></i>13:00 AM - 14:30 AM</span>
                        <span style="margin: 5px 10px 5px 0px;font-size: 14px;"><i class="fa fa-map" aria-hidden="true" style="margin: 0px 10px 0px 0px;"></i>Class 307 A</span>
                    </div>
                </div>
                <p style="font-weight: bold;color:whitesmoke; font-size: 14px; text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. At cumque optio modi adipisci ea accusantium? Doloremque repellendus.</p>
                <button class="details-button">View Details</button>
            </div>
        </div>
    </div>
</div>