<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<!-- <a href="../blog_detail/blog_detail.html">ke blog detail</a> -->
</head>
<body>

	<div class="container">
		<div class="columns is-variable is-5">
			<div class="column is-3 side">
				<p>Food, <span class="yel">Technology,</span> Politics, Lifestyle</p>
				<h4>Mark wiens</h4>
				<span class="icon">
					<i class="far fa-user"></i>
				</span>
				<h4>12 Dec, 2017</h4>
				<span class="icon">
					<i class="far fa-calendar"></i>
				</span>
				<h4>1.2M Views</h4>
				<span class="icon">
					<i class="fas fa-eye"></i>
				</span>
				<h4>06 Comments</h4>
				<span class="icon">
					<i class="far fa-comment-alt"></i>
				</span>
			</div>

			<div class="column content">			
				<img src="img/pic.jpg" alt="Image">
				<h1>Astronomy Binoculars A Great Alternative</h1>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos hic voluptatum natus expedita culpa numquam, id. Rerum, aperiam, voluptas numquam praesentium odio laudantium neque veritatis ea error soluta repudiandae.</h3>
				<button class="button is-info is-light" onclick="window.location.href = '../blog_detail/blog_detail.html'">View more</button>
			</div>
		</div>
	</div>
	
</body>
</html>
