<style>
    .header {
        background: url("../../img/header.png") no-repeat center;
        height: 480px;
        padding-top: 170px;
        text-align: center;
    }
    .main-title {
        color: #3b5998;
        text-transform: uppercase;
        margin-bottom: 64px;
    }
    .pre-title {
        color: #3b5998;
        text-transform: uppercase;
    }
    h1 {
        font-family: Arial;
        font-size: 46px;
        line-height: normal;
        font-weight: bold;
        color: #3b5998;
    }
    h2 {
        font-family: Arial;
        font-size: 24px;
        line-height: 8px;
        font-weight: bold;
        color: #3b5998;
    }
    h3 {
        font-family: Arial;
        font-size: 18px;
        line-height: normal;
        font-weight: bold;
        color: #3b5998;
    }
    h4 {
        font-family: Arial;
        font-size: 14px;
        line-height: normal;
        font-style: italic;
        color: #898989;
    }
    .btn {
        padding: 17px 48px;
        width: 175px;
        height: 50px;
        margin: 0 8px;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: #FFC900;
        color: #3b5998;
        outline: none;
        -webkit-transition:0.2s;
        -o-transition:0.2s;
        transition: 0.2s;
    }
    .btn:hover {
        background-color: #3b5998;
        color: #FFC900;
    }
</style>
<div class="container">
    <div class="header">
        <h3 class="pre-title">Best online education service in the world</h3>
        <h1 class="main-title">One step ahead this season</h1>
        <div class="center">
            <a href="#" class="btn">LEARN MORE</a>
            <a href="#" class="btn">SEE COURSE</a>
        </div>
    </div>
</div>