<link rel="stylesheet" type="text/css" href="layout.css">
<div class="navbar">
    <a href="../../index.html">home</a>
    <a href="../../about.html">about</a>
    <a href="../../contact.html">contact</a>
    <a href="../../blog.html">blog</a>
    <a href="../../help.html">help</a>
    <a href="../../sign_in.html">sign in</a>
    <a href="../../sign_up.html">sign up</a>

    <div class="dropdown">
        <button class="dropbtn">More Options</button>
        <div class="dropdown-link">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
        </div>
    </div>

</div>