<html>

<head>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>

<body>

    <div class="navbar">
        <a href="../../index.html">Home</a>
        <a href="../../about.html">About</a>
        <a href="../../contact.html">Contact</a>
        <a href="../../blog.html">Blog</a>
        <a href="../../help.html">Help</a>

        <div class="dropdown">
            <button class="dropbtn">More Options</button>
            <div class="dropdown-link">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
            </div>
        </div>

    </div>
</body>
</html>